page-individual-item3 {

}


.header-page-3{
background-image: url(../assets/imgs/live-banner@2x.png);
background-size: 2284.57x 342.69px;
background-repeat: no-repeat;
width: 100%;
height: 343.96px;

span{
    font-family: lato-regular !important;
}

h1{
    font-display: pt-serif-regular !important;
}
}

.col1{
color: #fff;
margin-top: 250px;
font-family: pt-serif-regular;
    h1{
        font-size: 38px;
        margin-top: 5px;
        margin-left: 20px;
    }
    .caption{
        font-family: lato-regular;
        font-size: 16px;
        margin-left: 20px;

    }
}

.buttons{
margin-top: 260px;
position: relative;
left: 200px;
}

.text-body{
color: #888888;
font-family: lato-regular;
font-size: 16px;
line-height: 24px;
}


.col-info3{
    max-width: 333px;
    margin-left: 82px;
    margin-right: 63px;

  .title{
    color:#09699C;
    font-family: pt-serif-regular;
    font-size: 18px;
}
    .text-body{
        color: #888888;
        font-family: lato-regular;
        font-size: 16px;
        line-height: 24px;
    }

    .text-info{
        color: #888888;
        font-family: lato-regular;
        font-size: 16px;
        line-height: 24px;
        margin-left: 15px;
        margin-top: 10px;

    }
}


.direita{
    margin-left: 520px;
}

.text-live{
    font-family: lato-bold;
    font-size: 14px;
    max-width: 247px;
    color: #09699C;

}

.info-live{
    color: #888888;
    font-family: lato-regular;
    font-size: 14px;
    line-height: 24px;
    
}

.events{
    border-left: 1px solid gray;

}

.events-2{
    margin-left: 35px;
}

ion-icon{
    color: white;
    padding-left: 20px;

}

.live1{
    background-image: url(../assets/imgs/live-thumbs/thumb-1.png);
    background-repeat: no-repeat;
    width: 333px;
    height: 130px;
    text-align: justify;
    margin-left: 75px;
    margin-bottom: 25px;
     
        p{
            font-family: Lato-bold;
            line-height: 25px;
            padding-left: 20px;
            padding-top: 15px;
            margin-top: 10px;
            color: white;
            font-size: 14px

        }

        span{
            color: white;
            font-family: lato-regular;
            font-size: 14px
        }
}
.live2{
    background-image: url(../assets/imgs/live-thumbs/thumb-2.png);
    background-repeat: no-repeat;
    width: 333px;
    height: 130px;
    text-align: justify;
    margin-left: 75px;
    margin-bottom: 25px;
     
        p{
            font-family: Lato-bold;
            line-height: 25px;
            padding-left: 20px;
            padding-top: 15px;
            margin-top: 10px;
            color: white;
            font-size: 14px

        }

        span{
            color: white;
            font-family: lato-regular;
            font-size: 14px
        }
}
.live3{
    background-image: url(../assets/imgs/live-thumbs/thumb-3.png);
    background-repeat: no-repeat;
    width: 333px;
    height: 130px;
    text-align: justify;
    margin-left: 75px;
    margin-bottom: 25px;
     
        p{
            font-family: Lato-bold;
            line-height: 25px;
            padding-left: 20px;
            padding-top: 15px;
            margin-top: 10px;
            color: white;
            font-size: 14px

        }

        span{
            color: white;
            font-family: lato-regular;
            font-size: 14px
        }
}
.live4{
    background-image: url(../assets/imgs/live-thumbs/thumb-4.png);
    background-repeat: no-repeat;
    width: 333px;
    height: 130px;
    text-align: justify;
    margin-left: 75px;
    margin-bottom: 25px;
     
        p{
            font-family: Lato-bold;
            line-height: 25px;
            padding-left: 20px;
            padding-top: 15px;
            margin-top: 10px;
            color: white;
            font-size: 14px

        }

        span{
            color: white;
            font-family: lato-regular;
            font-size: 14px
        }
}
.live5{
    background-image: url(../assets/imgs/live-thumbs/thumb-5.png);
    background-repeat: no-repeat;
    width: 333px;
    height: 130px;
    text-align: justify;
    margin-left: 75px;
    margin-bottom: 25px;
     
        p{
            font-family: Lato-bold;
            line-height: 25px;
            padding-left: 20px;
            padding-top: 15px;
            margin-top: 10px;
            color: white;
            font-size: 14px

        }

        span{
            color: white;
            font-family: lato-regular;
            font-size: 14px
        }
}
.live6{
    background-image: url(../assets/imgs/live-thumbs/thumb-6.png);
    background-repeat: no-repeat;
    width: 333px;
    height: 130px;
    text-align: justify;
    margin-left: 75px;
    margin-bottom: 25px;
     
        p{
            font-family: Lato-bold;
            line-height: 25px;
            padding-left: 20px;
            padding-top: 15px;
            margin-top: 10px;
            color: white;
            font-size: 14px

        }

        span{
            color: white;
            font-family: lato-regular;
            font-size: 14px
        }
}
.live7{
    background-image: url(../assets/imgs/live-thumbs/thumb-7.png);
    background-repeat: no-repeat;
    width: 333px;
    height: 130px;
    text-align: justify;
    margin-left: 75px;
    margin-bottom: 25px;
     
        p{
            font-family: Lato-bold;
            line-height: 25px;
            padding-left: 20px;
            padding-top: 15px;
            margin-top: 10px;
            color: white;
            font-size: 14px

        }

        span{
            color: white;
            font-family: lato-regular;
            font-size: 14px
        }
}
.live8{
    background-image: url(../assets/imgs/live-thumbs/thumb-8.png);
    background-repeat: no-repeat;
    width: 333px;
    height: 130px;
    text-align: justify;
    margin-left: 75px;
    margin-bottom: 25px;
     
        p{
            font-family: Lato-bold;
            line-height: 25px;
            padding-left: 20px;
            padding-top: 15px;
            margin-top: 10px;
            color: white;
            font-size: 14px

        }

        span{
            color: white;
            font-family: lato-regular;
            font-size: 14px
        }
}
.live9{
    background-image: url(../assets/imgs/live-thumbs/thumb-9.png);
    background-repeat: no-repeat;
    width: 333px;
    height: 130px;
    text-align: justify;
    margin-left: 75px;
    margin-bottom: 25px;
     
        p{
            font-family: Lato-bold;
            line-height: 25px;
            padding-left: 20px;
            padding-top: 15px;
            margin-top: 10px;
            color: white;
            font-size: 14px

        }

        span{
            color: white;
            font-family: lato-regular;
            font-size: 14px
        }
}
.live10{
    background-image: url(../assets/imgs/live-thumbs/thumb-10.png);
    background-repeat: no-repeat;
    width: 333px;
    height: 130px;
    text-align: justify;
    margin-left: 75px;
    margin-bottom: 25px;
     
        p{
            font-family: Lato-bold;
            line-height: 25px;
            padding-left: 20px;
            padding-top: 15px;
            margin-top: 10px;
            color: white;
            font-size: 14px

        }

        span{
            color: white;
            font-family: lato-regular;
            font-size: 14px
        }
}
.live11{
    background-image: url(../assets/imgs/live-thumbs/thumb-11.png);
    background-repeat: no-repeat;
    width: 333px;
    height: 130px;
    text-align: justify;
    margin-left: 75px;
    margin-bottom: 25px;
     
        p{
            font-family: Lato-bold;
            line-height: 25px;
            padding-left: 20px;
            padding-top: 15px;
            margin-top: 10px;
            color: white;
            font-size: 14px

        }

        span{
            color: white;
            font-family: lato-regular;
            font-size: 14px
        }
}
.live12{
    background-image: url(../assets/imgs/live-thumbs/thumb-12.png);
    background-repeat: no-repeat;
    width: 333px;
    height: 130px;
    text-align: justify;
    margin-left: 75px;
    margin-bottom: 25px;
     
        p{
            font-family: Lato-bold;
            line-height: 25px;
            padding-left: 20px;
            padding-top: 15px;
            margin-top: 10px;
            color: white;
            font-size: 14px

        }

        span{
            color: white;
            font-family: lato-regular;
            font-size: 14px
        }
}
.live13{
    background-image: url(../assets/imgs/live-thumbs/thumb-13.png);
    background-repeat: no-repeat;
    width: 333px;
    height: 130px;
    text-align: justify;
    margin-left: 75px;
    margin-bottom: 25px;
     
        p{
            font-family: Lato-bold;
            line-height: 25px;
            padding-left: 20px;
            padding-top: 15px;
            margin-top: 10px;
            color: white;
            font-size: 14px

        }

        span{
            color: white;
            font-family: lato-regular;
            font-size: 14px
        }
}
.live14{
    background-image: url(../assets/imgs/live-thumbs/thumb-14.png);
    background-repeat: no-repeat;
    width: 333px;
    height: 130px;
    text-align: justify;
    margin-left: 75px;
    margin-bottom: 25px;
     
        p{
            font-family: Lato-bold;
            line-height: 25px;
            padding-left: 20px;
            padding-top: 15px;
            margin-top: 10px;
            color: white;
            font-size: 14px

        }

        span{
            color: white;
            font-family: lato-regular;
            font-size: 14px
        }
}
.live15{
    background-image: url(../assets/imgs/live-thumbs/thumb-15.png);
    background-repeat: no-repeat;
    width: 333px;
    height: 130px;
    text-align: justify;
    margin-left: 75px;
    margin-bottom: 25px;
     
        p{
            font-family: Lato-bold;
            line-height: 25px;
            padding-left: 20px;
            padding-top: 15px;
            margin-top: 10px;
            color: white;
            font-size: 14px

        }

        span{
            color: white;
            font-family: lato-regular;
            font-size: 14px
        }
}
.live16{
    background-image: url(../assets/imgs/live-thumbs/thumb-16.png);
    background-repeat: no-repeat;
    width: 333px;
    height: 130px;
    text-align: justify;
    margin-left: 75px;
    margin-bottom: 25px;
     
        p{
            font-family: Lato-bold;
            line-height: 25px;
            padding-left: 20px;
            padding-top: 15px;
            margin-top: 10px;
            color: white;
            font-size: 14px

        }

        span{
            color: white;
            font-family: lato-regular;
            font-size: 14px
        }
}
.live17{
    background-image: url(../assets/imgs/live-thumbs/thumb-1.png);
    background-repeat: no-repeat;
    width: 333px;
    height: 130px;
    text-align: justify;
    margin-left: 75px;
    margin-bottom: 25px;
     
        p{
            font-family: Lato-bold;
            line-height: 25px;
            padding-left: 20px;
            padding-top: 15px;
            margin-top: 10px;
            color: white;
            font-size: 14px

        }

        span{
            color: white;
            font-family: lato-regular;
            font-size: 14px
        }
}
